$color-primary: #568ea3;
$color-primary-light: #68c3d4;
$color-secondary: #ffe8d1;
$color-accent: #fe5a56;

$color-gray-light: #f5f5f5;
$color-gray: #e5e5e5;
$color-gray-dark: #888888;

$color-white: #ffffff;
$color-black: #000000;

$color-text: #35495e;
$color-text-light: rgba($color-text, 0.66);

$shadow-light: 0 1rem 2rem rgba($color-black, 0.2);
$shadow: 0 0.5rem 1rem rgba($color-black, 0.2);