body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-text;
  font-weight: 400;
  line-height: 1.6;
}

.heading-primary {
  display: block;
  color: $color-white;

  &--main {
    font-size: 9rem;
    font-weight: 400;
  }

  &--sub {
    font-size: 4.8rem;
    font-weight: 700;
  }
}

.heading-secondary {
  color: $color-text;
  font-size: 5.5rem;
  font-weight: 700;
}
