.u-center-text {
  text-align: center !important;
}

.u-right-text {
  text-align: right !important;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 7rem !important;
}
